body {
    background-color: rgb(107, 33, 48);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1, h3, a{
    text-decoration: underline 2px;
    color: white;
    text-align: center;
    
}

h3, a{
    font-size: 20px;
}

img{
    display: block;
    margin: 32px auto;
    border-radius: 10px;
    border-width: 12px;
    border-style:solid;
}

h2{
    text-align: center;
    width: fit-content;
    padding: 10px 80px;
    margin: 24px auto;
    background-color:rgb(255, 54, 88);
    border-radius: 10px;
}

li{
    padding-left: 0px;
    padding: 8px;
    font-size: 18px;
}

ol, ul{
    color:rgb(255, 233, 239);
    list-style-position: inside;
    padding-left: 0px;
    padding: 8px;
    border-radius: 12px;
    width: fit-content;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 24px;
    border-style: solid;
    border-color: rgb(255, 80, 141);
    
}

.index {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.recipes-background{
    background-color: rgb(255, 79, 79);
    width:fit-content;
    padding: 24px;
    border-radius: 10px;
    margin: 0 auto;
}

.recipes{
    display: inline;
    padding: 0px 8px; 
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.Description{
    font-size: 24px;
    text-align: center;
}



